<div class="container">
  <h3>About Bloci-pedia</h3>
  <p>Created by: Nick Ross</p>
  <div>
    <p class="lead">Bloci-pedia is full of some of the most factual comments in the world. <br><br><i>We must warn you</i> that reading the content on this site could substantially increase your IQ and therefore lead to life changing events that we cannot predict. You can post anything that comes to mind as long as it is kind and useful to the rest of us. <em>If you decide</em> to <strong>break</strong> this one simple rule, we will invent a new form of cruel punishment to subject you to.</p>
  </div>
</div>