<div class="container.fluid">
  <div class="panel">
    <h1>Bloci-pedia</h1>
    <p>This is the Bloci-pedia home page.</p>
    <p class="lead"> Sign up now to create your own wikis.</p>
  </div>
</div>