@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}


//  =========
//  = Forms =
//  =========

textarea, input {
  width: 80%;
}

form#new_wiki {
  margin-top: 2em;
}